/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1.2rem;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

h2 {
    margin: 0.5rem;
}

p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/*
* Metrolics Home Page CSS
*/

.page-intro {
    margin: 2rem;
}

.page-intro-blue {
    color: #42b1d6;
}

.page-home {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50em;
    margin: 0 auto;
}

.column {
    flex: 1;
    padding: 0 1.5em;
}

.logo {
    position: relative;
    top: 3rem;
    /* right: 3.5rem; */
    width: 10rem;
    padding-bottom: 3rem;
}

.page-nav {
    display: flex;
    flex-direction: row;
}

.page-nav-item {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 1rem;
    padding: 1.25rem 3.5rem 0rem 3.5rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
}

.page-nav-item:nth-child(1) {
    background-color: #23c387;
}

.page-nav-item:nth-child(2) {
    background-color: #ffb900;
}

.page-nav-item:nth-child(3) {
    background-color: #dc5f5f;
}

.page-nav-item:nth-child(4) {
    background-color: #1491b9;
}

.page-nav-item:nth-child(5) {
    background-color: #1469a0;
}

.page-nav-icon {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 50%;
    padding: 0.5rem;
}

.page-nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    padding: 1rem 0.25rem 0rem 0rem;
    width: 0;
}

.fa-angle-right-none {
    display: none;
}

.page-slider {
    position: relative;
    background-color: #ebebeb;
    height: 70vh;
}

.slider-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    margin: 0 auto;
}

.slider-placeholder {
    width: 60em;
    height: 70vh;
}

.slider-content {
    position: absolute;
    top: 12rem;
    left: 5rem;
    transform: translateY(-50%);
}

.slider-content ul {
    list-style: none;
    color: #3c3c3c;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.slider-content li span {
    display: block;
    background-color: #eef5fc;
    padding: 0.5em 1em;
}

.slider-content li:nth-child(1) span {
    border-left: 6px solid #0064a3;
}

.slider-content li:nth-child(2) span {
    border-left: 6px solid #ef4a53;
}

.slider-content li:nth-child(3) span {
    border-left: 6px solid #ffbb00;
}

.page-intro {
    min-height: 1rem;
    padding: 1rem;
}

.page-main {
    text-align: center;
    min-height: 1rem;
    padding: 2rem;
}

.project {
    display: flex;
    height: 35vh;
    flex: 1;
    background-color: lightgray;
}

.page-main-item {
    padding-top: 1rem;
}

.page-main-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.11rem solid;
    padding: 0.75rem 1rem;
}

.fa-lightbulb-o {
    color: #ffb900;
    padding: 0.75rem 1.5rem;
}

.fa-picture-o {
    color: #23c387;
}

.fa-cogs {
    color: #dc5f5f;
}

.fa-pencil {
    color: #1491b9;
}

.page-main-heading {
    padding-top: 1rem;
    font-weight: bold;
    margin: 0;
}

.page-main-column {
    width: 24%;
    padding: 0.5rem;
}

.page-intro h2,
.page-lately,
.page-latest,
.page-misc {
    text-align: center;
}

.post-row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 0.8rem;
    position: relative;
}

.post-wrapper {
    position: relative;
}

.post-info {
    background-color: #19b2de;
    position: relative;
    margin-top: -4rem;
    z-index: 10;
    padding: 0rem 1rem;
    text-align: left;
}

.post-icon {
    margin: 0.5rem;
    float: right;
}

.fa-camera,
.fa-file-o {
    background-color: #1596bd;
    height: 2em;
    width: 2em;
    padding-left: 0.15rem;
}

.post-sample-text {
    font-weight: 500;
    color: white;
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.post-sample-type {
    font-weight: 400;
    color: white;
    margin-top: 0.2rem;
    padding-bottom: 0.5rem;
}

.page-lately-heading {
    text-align: center;
}

.post-date {
    background-color: #d8605f;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.5em;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
}

.post-date-day {
    font-weight: 700;
    font-size: 1.23em;
    padding: 0;
    margin: 0;
}

.post-date-month-year {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.703em;
    padding: 0;
    margin: 0;
}

.fa-camera:before,
.fa-file-o::before {
    top: 0.7em;
    left: 0.49em;
    color: white;
    position: relative;
}

.post-latest-info {
    position: relative;
    margin-top: -5rem;
    z-index: 10;
    padding: 0rem 1rem;
    text-align: left;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #19b2de;
}

.progress-bar {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.progress-border {
    background-color: lightgray;
    width: 57rem;
}

.progress {
    height: 0.1rem;
    width: 18rem;
    background-color: #19b2de;
}

.project {
    display: flex;
    height: 40vh;
    width: 18rem;
    flex: 1;
    background-color: lightgray;
}

.project h4 {
    display: flex;
    z-index: 1;
    align-items: end;
    padding-left: 1rem;
}

.page-sponsors,
.space-row {
    padding: 1rem;
}

.page-misc-item {
    display: flex;
    height: 36vh;
    width: 100%;
    flex: 1;
    background-color: lightgray;
}

.column-sponsors {
    display: flex;
    height: 15vh;
    flex: 1;
    background-color: lightgray;
}

.page-footer {
    background-color: #16242f;
    color: #fff;
}

.footer-about {
    padding: 1rem;
    padding-left: 2rem;
}

.footer-top-line {
    display: flex;
    place-content: start;
    border-bottom: 0.1rem solid #3d3d3d;
    width: 47rem;
}

.footer-top-line-blue {
    border-top: 0.1rem solid #1469a0;
    width: 5rem;
}

.footer-image {
    width: 4rem;
    height: 4rem;
}

.footer-image img {
    border-radius: 50%;
    transform: scaleY(0.9);
}

.footer-text h4 {
    margin: 0;
    font-weight: bold;
}

.footer-text p {
    font-style: italic;
}

.footer-about-us,
.footer-flickr {
    padding-right: 0;
}

.footer-news {
    padding-left: 0;
}

.footer-item h4 {
    margin: 0.5rem 0rem;
    font-weight: bold;
}

.footer-about-line-triangle-color {
    color: #23c387;
}

.footer-flickr-line-triangle-color {
    color: #ffb900;
}

.footer-recent-line-triangle-color {
    color: #dc5f5f;
}

.footer-news-line-triangle-color {
    color: #1491b9;
}

.footer-line-triangle {
    border-top: 0.1rem solid;
    padding-bottom: 1rem;
}

.footer-triangle {
    margin-left: 1rem;
    width: 0;
    height: 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid;
}

.footer-item-icons {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.footer-icons {
    width: 2rem;
    padding: 0.4rem;
    margin: 0.05rem;
    text-align: center;
    flex: 1;
}

.footer-icons:nth-child(1) {
    background-color: #0064a3;
}

.footer-icons:nth-child(2) {
    background-color: #dc5f5f;
}

.footer-icons:nth-child(3) {
    background-color: #42b1d6;
}

.footer-icons:nth-child(4) {
    background-color: #e9789e;
}

.footer-icons:nth-child(5) {
    background-color: #ffb900;
}

.flickr-minion-group,
.footer-tweets {
    padding: 0;
}

.flickr-minion {
    width: 3.4rem;
    height: 3.4rem;
    padding: 0.2rem;
    flex: 1;
}

.footer-row-tweet {
    display: flex;
    flex-direction: row;
}

.footer-tweet-position {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 0.5rem;
    padding-right: 0;
}

.footer-icons-tweet {
    background-color: #5c666f;
    padding: 0.4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.tweet-blue {
    color: #42b1d6;
    font-weight: bold;
}

.footer-email-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.footer-email-row input {
    background-color: #dc5f5f;
    border: none;
    padding: 0.5rem;
}
.footer-email-row input::placeholder {
    color: #fff;
}

.fa-paper-plane {
    background-color: #ffb900;
    padding: 0.5rem;
}

.footer-bottom-colors {
    justify-content: end;
    padding-right: 1.5rem;
}

.footer-bottom-size {
    padding-left: 0.32rem;
}

.mobile-menu-bar {
    display: none !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* div,
main,
section,
nav,
footer,
header {
    outline: 1px solid black;
} */

/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Small only */
@media screen and (max-width: 39.9375em) {
    .page-nav-item,
    .page-slider,
    .footer-hide,
    .footer-flickr,
    .footer-news {
        display: none;
    }

    .row-mobile {
        display: flex;
        flex-direction: column;
    }

    .page-main-column {
        width: 100%;
    }

    .page-main-item {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .page-main-icon {
        position: relative;
        top: 1.5rem;
        height: 50%;
        margin-right: 0.5rem;
    }

    .page-header {
        margin: 2rem;
        margin-top: 0rem;
    }

    .mobile-menu-bar {
        display: inline !important;
        position: relative;
        top: 2rem;
        right: 1rem;
        visibility: visible;
        background-color: #398cb5;
        color: white;
        height: 3rem;
        padding: 0.5rem;
    }

    .page-intro {
        margin-bottom: 0rem;
    }
}
/* Medium and up */
@media screen and (min-width: 40em) {
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* Large and up */
@media screen and (min-width: 64em) {
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
